extends ../base
//-  파일이 복잡해져서 users라는 폴더안에 집어넣었으므로 .. 써준다.
block content
    form(method="POST")
        input(placeholder="Old password",type="password", name ="oldPassword")
        input(placeholder="New password",type="password", name ="newPassword")
        input(placeholder="New password Confirmation",type="password", name="newPasswordConfirmation")
        input(value="Change password" ,type="submit")
        